@import url(http://fonts.googleapis.com/css?family=Pacifico);

body{
    margin: 0px;
}

#register-header {
      text-align: center;
  margin-top: 15px;
  font-size: 44px;
  /* width: 100%; */
  font-family: 'Pacifico', cursive;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
}

#setting-form {
    margin-top: 17px;
    height: 147px;
      -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
      -webkit-user-select: none;
  -moz-user-select: none;
      -webkit-user-select: none;
  -moz-user-select: none;
    cursor: default;
}

#square-border:hover{
/*    transition: background-color 0.5s ease;*/
    background-color: black;
    color: white;
    font-weight: 400;
    letter-spacing: 0.25em;
}

#square-border {
    padding: 7px 30px 7px 30px;
  border: solid 3px black;
    cursor: pointer;
    -webkit-user-select: none;   
    -moz-user-select: none; 
    text-decoration: none;
    color: black;
}
#square-button {
    font-family: 'Helvetica Neue' Helvetica,Arial,Sans-Serif;
    font-weight: 100;
    letter-spacing: 0.3em;
    color: white;
    left: 0;
/*    line-height: 200px;*/
    margin-top: -100px;
    position: absolute;
    text-align: center;
/*    top: 63%;*/
    bottom: 28px;
    width: 100%;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}

.blur{
  -webkit-filter: blur(20px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  opacity: 0.95;
}

.ngdialog.ngdialog-theme-custom {
	padding-top: 125px;
	padding-bottom: 125px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-overlay {
	background: rgba(255,255,255,.5);
}

.ngdialog.ngdialog-theme-custom .ngdialog-content {
	background: rgba(255,255,255,.9);
	padding: 1.8em 2em;
	width: 440px;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.ngdialog.ngdialog-theme-custom .ngdialog-message h2 {
	font-size: 26px;
	font-family: 'Helvetica Neue' Helvetica,Arial, Sans-Serif;
	line-height: 30px;
	margin-bottom: 20px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-message {
	font-size: 16px;
	font-family: 'Source Sans Pro';
	line-height: 22px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-message ul {
	padding: 0 0 5px 35px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-button.ngdialog-button-primary {
	background: #27ae60;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#text-userinput {
    height: 32px;
    width: 100%;
    margin-top: 30px;
    padding-left: 10px;
    height: 45px;
    border: solid 2px lightgrey;
        font-size: 26px;
    font-family: 'Helvetica Neue' Helvetica,Arial,Sans-Serif;
    font-weight: 100;
    letter-spacing: 0.1em;
}
