<div id="register-header" class="animated bounceIn">
    Register <i class="fa fa-cogs"></i>
</div>

<div id="setting-form" >
    <form>
        USERNAME: <input type="text" name="FirstName" value="Mickey"><br>
        KEY: <input type="text" name="LastName" value="Mouse"><br>
</form>
<!--
    <div id="setting-label">
        USERNAME
    </div>
-->

</div>

<div id="square-button">
    <a id="square-border" ng-click="startButtonClick()">
     START
    </a>
</div>
<!--Line break-->

<!--
<div id="setting-form">
    <div id="setting-label">
    SHOW ME
    </div>

    <select id="setting-dropdown"
            ng-model="showMeGender"
            ng-options="gender as gender.displayName for gender in genderList"
            ng-change="showMeGenderChange()"></select>
</div>

<div id="setting-form">
    <div id="setting-label" title="notification include matches, someone likes/ new message ">
    EMAIL NOTI
    </div>

    <select id="setting-dropdown"
            ng-model="emailNotiBoolean"
            ng-options="emailNoti as emailNoti.displayName for emailNoti in emailNotiList"
            ng-change="emailNotificationChange()"></select>
</div>

<div id="setting-form">
    <div id="setting-label" title="notification include matches, someone likes/ new message ">
    FEEDBACK
    </div>
    <a id="twitter-account" href="http://www.twitter.com/pungme">direct it to @pungme (twitter)</a>
</div>
<div id="square-button">
            <a id="square-border" ng-click="doneButtonClick()">
             DONE
            </a>
        </div>-->
